<div class="modal fade" id="email-client-modal" tabindex="-1" role="dialog" aria-labelledby="emailClientModal">
  <div class="modal-dialog" role="document">
    <%= form_tag email_client_invoice_path(@invoice) do -%>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Email <%= @invoice.to_org.name -%> their invoice</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="to">To</label>
            <input type="text" name="to" class="form-control" value="<%= @invoice.to_org.emails[0].email -%>"/>
          </div>
          <div class="form-group">
            <label for="">From</label>
            <input type="text" name="from" class="form-control" value="<%= current_account.email -%>"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Email Client</button>
        </div>
      </div>
    <%- end -%>
  </div>
</div>