
<!-- Modal Structure -->
<div id="addUserToOrg" class="modal">
  <%= form_tag(select_orgs_for_user_path(@user)) do -%>
    <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title">Select the organizations this user can manage</h4>
          <%- @all_organizations.each do |org| -%>
            <div class="form-group col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="orgs[]" value="<%= org.id -%>" /> <%= org.name -%>
                </label>
              </div>
            </div>
          <%- end -%>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Ok</button>
    </div>
  <%- end -%>
</div>