<div class="container">
  <div class="row">
    <h2>Edit Profile</h2>
  </div>
</div>
<%= render 'form' -%>
<div class="container">
  <div class="row">
    <%= link_to 'Edit Account', edit_account_registration_path %>
  </div>
</div>