<%= form_for [@organization, @project] do |f| -%>
<div class="col s8 offset-s2">
  <div class="card">
    <div class="card-content">
      <h3>Create New Project</h3>
      <%- if current_page? new_project_without_org_path -%>
        <%= render 'new_without_org' -%>
      <%- end -%>
      <div class="input-field">
        <label for="name">Project Name</label>
        <input type="text" id="name" name="project[name]" value="<%= @project.name if @project.name -%>"/>
      </div>
      <div class="input-field">
        <label for="identifier">Project identifier</label>
        <input type="text" id="identifier" name="project[identifier]" value="<%= @project.identifier if @project.identifier -%>"/>
      </div>
      <div class="input-field col s6">
        <label for="start_date">Project Start Date</label>
        <%- @project.start_date ||= Date.today -%>
        <input type="date" name="project[start_date]" class="datepicker">
      </div>
      <div class="input-field col s6">
        <label for="end_date">Project End Date</label>
        <%- @project.end_date ||= Date.today -%>
        <input type="date" name="project[end_date]" class="datepicker">
      </div>
      <div class="card-action left col s12">
        <input type="submit" value="Create Project" class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>
<%- end -%>

<script>
//  $(document).ready(function() {
//    $('select').material_select();
//  });
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
});
</script>