<%- if current_page? new_project_without_org_path
      @page_title = "Edit Project with #{@organization.name}"
    else
      @page_title = 'Edit Project'
    end -%>

<div class="container">
  <div class="row">
    <%= render 'form' -%>
  </div>
</div>