<%- if current_page? new_project_without_org_path
      @page_title = "New Project with #{@organization.name}"
    else
      @page_title = 'New Project'
    end -%>
<div class="container">
  <div class="row">
    <%= render 'form' -%>
  </div>
</div>