<div style="margin: 20px, padding: 10px">
  <header><h1>Invoices Made Easy</h1></header>
  <div>
    <p><%= @user.first_name.capitalize -%> <%= @user.last_name.capitalize -%> invited you to see your invoices through this service.</p>
    <p>Please, sign up here <a href="<%= new_account_registration -%>">Sign Up</a></p>
  </div>
</div>