@import "materialize";

@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/paper/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 76px; }

// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";
@import "dashboard";
@import "invoices";

.top-5 {margin-top: 5px !important}
.top-10 {margin-top: 10px}
.top-20 {margin-top: 20px}
.top-30 {margin-top: 30px}
.top-40 {margin-top: 40px}
.top-50 {margin-top: 50px}
.top-60 {margin-top: 60px}
.top-100 {margin-top: 100px}

.bottom-5 {margin-bottom: 5px !important}
.bottom-10 {margin-bottom: 10px}
.bottom-20 {margin-bottom: 20px}
.bottom-30 {margin-bottom: 30px}
.bottom-40 {margin-bottom: 40px}
.bottom-50 {margin-bottom: 50px}
.bottom-60 {margin-bottom: 60px}
.bottom-100 {margin-bottom: 100px}

table, .table {
  font-size: 16px !important;
}

//table > thead, .table > thead {
//  border-bottom: 3px solid #4E5D6C;
//}

.state-field {
  width: 60px;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
}