@import "materialize/components/color";
$primary-color: color("light-blue", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("amber", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-4") !default;

@import "materialize";
@import "invoices";

//@import "bootstrap-sprockets";
//
//// Import cerulean variables
//@import "bootswatch/paper/variables";
//
//// Then bootstrap itself
//@import "bootstrap";
//
//// Bootstrap body padding for fixed navbar
//body { padding-top: 76px; }
//
//// And finally bootswatch style itself
//@import "bootswatch/paper/bootswatch";
//@import "dashboard";
//@import "invoices";

.top-5 {margin-top: 5px !important}
.top-10 {margin-top: 10px}
.top-20 {margin-top: 20px}
.top-30 {margin-top: 30px}
.top-40 {margin-top: 40px}
.top-50 {margin-top: 50px}
.top-60 {margin-top: 60px}
.top-100 {margin-top: 100px}

.bottom-5 {margin-bottom: 5px !important}
.bottom-10 {margin-bottom: 10px}
.bottom-20 {margin-bottom: 20px}
.bottom-30 {margin-bottom: 30px}
.bottom-40 {margin-bottom: 40px}
.bottom-50 {margin-bottom: 50px}
.bottom-60 {margin-bottom: 60px}
.bottom-100 {margin-bottom: 100px}



.state-field {
  width: 60px;
}

body {
  background-color: #fcfcfc;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  border-bottom: 1px solid #ddd;
  height: 80px;
  margin-bottom: 32px;
}

ul.side-nav.fixed li.logo:hover {
  background-color: transparent;
}

.manager-menu {
  border-bottom: 1px solid #ddd;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: none;
}

nav.top-nav {
  height: 111px;
  box-shadow: none;
}

a.btn {
  color: #fff !important;
}

.tabs {
  background-color: #fcfcfc;
}

.card .card-title {
  color: #212121;
  font-size: 24px;
  font-weight: 300;
}

.rpad-10 {
  padding-right: 10px;
}